# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MongoDB Database Files
/data/db/
dump/

# Build Output
dist/
build/
.out/
.next/
.vscode/
.gitignore

# Editor/IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS System Files
.DS_Store

# Linux/Windows System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# React Specific
/.pnp
.pnp.js

# Static build folder
/public/static/

# Debugging Files
debug.log



